{{ $titles := split (.Get "tracks") "|" }}
{{ $recordings := split (.Get "recordings") "|" }}
{{ $list := slice }}
{{ range $i, $t := $titles }}
    {{ $list = $list | append (dict "label" $t "src" (printf "/media/audio/%s.mp3" (index $recordings $i))) }}
{{ end }}
{{ partial "audio-player.html" (dict
    "title" (.Get "title")
    "cover" (printf "/media/img/pieces/op-%s.png" (.Get "cover"))
    "tracks" $list
    "listenLabel" (cond (eq .Page.Site.Language.Lang "cs") "Poslechnout" "Listen")
) }}
